<section class="flex min-h-screen place-content-center px-6 py-16">
  <article class="h-fit w-full max-w-2xl">
    <div class="mt-6 space-y-6 pb-6">
      <div class="space-y-4">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <img
              class="h-8 w-8 rounded-full"
              src="https://randomuser.me/api/portraits/med/men/31.jpg"
              alt=""
            />
            <span class="inline-block text-sm font-medium">Devon Willis</span>
          </div>
          <small class="text-foreground/80">5 minutes read</small>
        </div>
        <div class="space-y-2">
          <a
            href="#"
            class="block text-xl font-bold hover:underline md:text-3xl"
          >
            Placeat exercitationem corrupti voluptatum magnam qui magni vel
            nobis delectust
          </a>
        </div>
      </div>
      <div>
        <img
          class="h-56 w-full object-cover md:h-72"
          src="https://plus.unsplash.com/premium_photo-1661963236181-9eb0c8d766e3?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZW5naW5lZXJpbmd8ZW58MHx8MHx8fDA%3D"
          alt=""
        />
      </div>
      <p class="text-pretty leading-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
        exercitationem corrupti voluptatum magnam qui magni vel nobis delectus,
        nulla dolorum amet aliquid voluptates ex nam cupiditate eum corporis
        soluta ratione.
      </p>
    </div>
  </article>
</section>
