<section class="flex min-h-screen place-content-center px-6 py-16">
  <a
    href="#"
    class="group h-fit w-full max-w-sm overflow-hidden rounded-xl bg-card-background shadow-xl"
  >
    <picture>
      <img
        class="h-56 w-full object-cover"
        src="https://images.unsplash.com/photo-1581090700227-1e37b190418e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGVuZ2luZWVyaW5nfGVufDB8fDB8fHww"
        alt=""
      />
    </picture>
    <div class="mt-6 space-y-6 px-6 pb-6">
      <article class="space-y-4">
        <div class="flex items-center gap-2">
          <img
            class="h-8 w-8 rounded-full"
            src="https://randomuser.me/api/portraits/med/women/75.jpg"
            alt=""
          />
          <span class="inline-block text-sm font-medium">Claire Jordan</span>
        </div>
        <div class="space-y-2">
          <h4
            class="text-2xl font-bold transition ease-in-out group-hover:text-primary"
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </h4>
          <small class="text-foreground/80">5 minutes ago</small>
        </div>
      </article>
    </div>
  </a>
</section>
