<section class="flex min-h-screen place-content-center px-6 py-16">
  <a
    href=""
    class="group h-fit w-full max-w-sm transition-transform ease-in-out hover:scale-[1.02]"
  >
    <div class="w-full">
      <picture>
        <img
          class="h-56 w-full rounded-2xl object-cover shadow-xl"
          src="https://images.unsplash.com/photo-1458007683879-47560d7e33c3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGVsZWN0cmljJTIwZW5nZW5lZXJpbmd8ZW58MHx8MHx8fDA%3D"
          alt=""
        />
      </picture>
      <div class="mt-4 pb-6">
        <h4
          class="text-xl font-bold tracking-wide transition ease-in-out group-hover:text-primary"
        >
          Understanding Voltage: The Power Behind Modern Technology
        </h4>
        <small class="text-foreground/80">Agoust 3, 2024</small>
      </div>
    </div>
  </a>
</section>
