<main class="min-h-screen bg-background">
  <section class="flex h-full w-full place-content-center items-center p-4">
    <div
      class="flex w-full max-w-lg place-content-center bg-card-background p-4 py-16"
    >
      <div
        class="flex w-4/5 flex-col place-content-center items-center space-y-6"
      >
        <div class="flex flex-col items-center space-y-2 py-6 text-center">
          <a href="#" class="text-2xl font-bold">Logo</a>
          <small class="max-md:hidden"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. At enim
            adipisci error debitis nisi.</small
          >
        </div>
        <div class="flex w-full flex-col items-center space-y-4">
          <button
            class="flex w-full place-content-center items-center gap-1 bg-foreground p-2 font-medium text-background transition-all hover:bg-foreground/80"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="100"
              height="100"
              viewBox="0 0 48 48"
              class="h-6 w-6"
            >
              <path
                fill="#FFC107"
                d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
              <path
                fill="#FF3D00"
                d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
              ></path>
              <path
                fill="#4CAF50"
                d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
              ></path>
              <path
                fill="#1976D2"
                d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
              ></path>
            </svg>
            <span>Sign in with Google</span>
          </button>

          <div
            class="inline-flex w-[80%] items-center gap-2 text-sm text-foreground/30"
          >
            <span class="h-[0.5px] flex-1 bg-foreground/30"></span>
            <span class="shrink-0">Or</span>
            <span class="h-[0.5px] flex-1 bg-foreground/30"></span>
          </div>

          <span class="text-center font-medium">
            Sign in with user and password
          </span>
        </div>
        <form action="" class="w-full space-y-4">
          <div class="space-y-1">
            <label class="text-foreground/70" for="username">Username</label>
            <div class="relative">
              <input
                placeholder="Your username"
                class="border-input/20 peer w-full border bg-background p-2 pr-10 transition placeholder:text-foreground/20 focus:border-primary focus:outline-none focus:ring-0"
                id="username"
                name="username"
                type="text"
              />
              <span
                class="absolute bottom-0 right-0 top-0 flex w-10 place-content-center items-center text-foreground/50 peer-focus:text-primary"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="h-4 w-4"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z"
                  />
                  <path
                    d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
                  /></svg
              ></span>
            </div>
          </div>
          <div class="space-y-1">
            <div class="flex items-center justify-between">
              <label class="text-foreground/70" for="password">Password</label>
              <a
                href=""
                class="text-sm text-primary/50 underline hover:text-primary"
                >Forgot password?</a
              >
            </div>

            <div class="relative">
              <input
                placeholder="•••••••••••••••"
                class="border-input/20 peer w-full border bg-background p-2 pr-10 transition placeholder:text-foreground/20 focus:border-primary focus:outline-none focus:ring-0"
                id="password"
                name="password"
                type="password"
              />
              <span
                class="absolute bottom-0 right-0 top-0 flex w-10 place-content-center items-center text-foreground/50 peer-focus:text-primary"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="h-4 w-4"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M14.52 2c1.029 0 2.015 .409 2.742 1.136l3.602 3.602a3.877 3.877 0 0 1 0 5.483l-2.643 2.643a3.88 3.88 0 0 1 -4.941 .452l-.105 -.078l-5.882 5.883a3 3 0 0 1 -1.68 .843l-.22 .027l-.221 .009h-1.172c-1.014 0 -1.867 -.759 -1.991 -1.823l-.009 -.177v-1.172c0 -.704 .248 -1.386 .73 -1.96l.149 -.161l.414 -.414a1 1 0 0 1 .707 -.293h1v-1a1 1 0 0 1 .883 -.993l.117 -.007h1v-1a1 1 0 0 1 .206 -.608l.087 -.1l1.468 -1.469l-.076 -.103a3.9 3.9 0 0 1 -.678 -1.963l-.007 -.236c0 -1.029 .409 -2.015 1.136 -2.742l2.643 -2.643a3.88 3.88 0 0 1 2.741 -1.136m.495 5h-.02a2 2 0 1 0 0 4h.02a2 2 0 1 0 0 -4"
                  />
                </svg>
              </span>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <div class="flex items-center">
              <input
                class="border-input/50 cfocus:outline-none h-4 w-4 cursor-pointer border bg-background text-primary focus:ring-0"
                type="checkbox"
                name="remember"
                id="remember"
              />
            </div>
            <label class="text-sm" for="remember">Remember me</label>
          </div>
          <button
            class="w-full bg-primary p-2 font-medium text-primary-foreground transition hover:bg-primary/80"
            type="submit"
          >
            Sign in
          </button>
        </form>
        <div class="text-center">
          <p>
            Don&apos;t have an account?&nbsp; <br class="md:hidden" />
            <a
              href="#"
              class="text-primary underline transition hover:opacity-90"
            >
              Create one for free</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
