<div class="w-full overflow-x-auto px-4">
  <div class="w-full min-w-[40rem] lg:min-w-full">
    <table class="w-full bg-card-background p-6 text-sm">
      <thead class="p-2 text-base">
        <tr class="border-y border-accent/20">
          <th class="px-2 py-4 text-left">
            <input type="checkbox" name="all" id="" />
          </th>
          <th class="px-2 py-4 text-left">ID</th>
          <th class="px-2 py-4 text-left">Customer</th>
          <th class="px-2 py-4 text-left">Date</th>
          <th class="px-2 py-4 text-left">Service</th>
          <th class="px-2 py-4 text-left">Amount</th>
          <th class="px-2 py-4 text-left">Status</th>
        </tr>
      </thead>
      <tbody class="p-2">
        <tr class="border-y border-accent/20 bg-background">
          <td class="px-2 py-4">
            <input type="checkbox" name="" id="" />
          </td>
          <td class="px-2 py-4 font-bold">14568</td>
          <td class="px-2 py-4">
            <a href="#" class="underline transition hover:text-primary">
              Jane Doe
            </a>
          </td>
          <td class="px-2 py-4">Agoust 26, 2024</td>
          <td class="px-2 py-4">Electricity</td>
          <td class="px-2 py-4">$1500</td>
          <td class="px-2 py-4 text-xs font-medium">
            <div
              class="flex w-fit items-center space-x-1 rounded-full bg-danger/20 px-3 py-0.5 text-danger"
            >
              <span class="block h-2 w-2 rounded-full bg-danger"></span>
              <span class="block">Rejected</span>
            </div>
          </td>
        </tr>
        <tr class="border-y border-accent/20 bg-card-background">
          <td class="px-2 py-4">
            <input type="checkbox" name="" id="" />
          </td>
          <td class="px-2 py-4 font-bold">14568</td>
          <td class="px-2 py-4">
            <a href="#" class="underline transition hover:text-primary">
              Jane Doe
            </a>
          </td>
          <td class="px-2 py-4">Agoust 26, 2024</td>
          <td class="px-2 py-4">Electricity</td>
          <td class="px-2 py-4">$1500</td>
          <td class="px-2 py-4 text-xs font-medium">
            <div
              class="flex w-fit items-center space-x-1 rounded-full bg-success/20 px-3 py-0.5 text-success"
            >
              <span class="block h-2 w-2 rounded-full bg-success"></span>
              <span class="block">Paid</span>
            </div>
          </td>
        </tr>
        <tr class="border-y border-accent/20 bg-background">
          <td class="px-2 py-4">
            <input type="checkbox" name="" id="" />
          </td>
          <td class="px-2 py-4 font-bold">14568</td>
          <td class="px-2 py-4">
            <a href="#" class="underline transition hover:text-primary">
              Jane Doe
            </a>
          </td>
          <td class="px-2 py-4">Agoust 26, 2024</td>
          <td class="px-2 py-4">Electricity</td>
          <td class="px-2 py-4">$1500</td>
          <td class="px-2 py-4 text-xs font-medium">
            <div
              class="flex w-fit items-center space-x-1 rounded-full bg-warning/20 px-3 py-0.5 text-warning"
            >
              <span
                class="block h-2 w-2 animate-pulse rounded-full bg-warning"
              ></span>
              <span class="block">Pending</span>
            </div>
          </td>
        </tr>
        <tr class="border-y border-accent/20 bg-card-background">
          <td class="px-2 py-4">
            <input type="checkbox" name="" id="" />
          </td>
          <td class="px-2 py-4 font-bold">14568</td>
          <td class="px-2 py-4">
            <a href="#" class="underline transition hover:text-primary">
              Jane Doe
            </a>
          </td>
          <td class="px-2 py-4">Agoust 26, 2024</td>
          <td class="px-2 py-4">Electricity</td>
          <td class="px-2 py-4">$1500</td>
          <td class="px-2 py-4 text-xs font-medium">
            <div
              class="flex w-fit items-center space-x-1 rounded-full bg-success/20 px-3 py-0.5 text-success"
            >
              <span class="block h-2 w-2 rounded-full bg-success"></span>
              <span class="block">Paid</span>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot class="bg-background">
        <tr class="px-2 py-4">
          <td colspan="7">
            <p class="py-2 text-center">Updated 7 minutes ago</p>
          </td>
        </tr>
      </tfoot>
      <caption class="w-full text-center">
        Awesome Caption
      </caption>
    </table>
  </div>
</div>
