<section class="inline-flex w-full place-content-center items-center py-20">
  <div class="grid gap-4 px-4 md:grid-cols-2 lg:grid-cols-3">
    <a
      aria-label="Link to "
      target="_blank"
      href="#"
      class="group relative h-[500px] w-72 border-foreground/20 transition-transform hover:scale-[1.02]"
    >
      <span class="absolute right-4 top-4 z-20">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6 stroke-foreground"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
          />
          <path d="M11 13l9 -9" />
          <path d="M15 4h5v5" />
        </svg>
      </span>
      <img
        src="https://images.unsplash.com/photo-1502005097973-6a7082348e28?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="absolute top-0 h-full w-full grayscale"
        alt=""
      />
      <span class="absolute inset-0 z-10 bg-background/70"></span>
      <div class="absolute bottom-10 z-20 -rotate-90 text-lg font-medium">
        <span>Kitchen</span>
      </div>
      <div
        class="absolute left-4 top-4 z-20 flex max-w-48 overflow-hidden pl-4"
      >
        <div
          class="duration-400 relative overflow-hidden delay-100 ease-in md:opacity-0 md:transition-opacity md:group-hover:opacity-100"
        >
          <h3 class="text-3xl font-bold">
            Lorem ipsum dolor sit amet consectetur
          </h3>
          <small>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam nam
            officiis fuga rem! Nobis,
          </small>
        </div>
      </div>
    </a>

    <a
      aria-label="Link to "
      target="_blank"
      href="#"
      class="group relative h-[500px] w-72 border-foreground/20 transition-transform hover:scale-[1.02]"
    >
      <span class="absolute right-4 top-4 z-20">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6 stroke-foreground"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
          />
          <path d="M11 13l9 -9" />
          <path d="M15 4h5v5" />
        </svg>
      </span>
      <img
        src="https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fGx1eHVyeSUyMGludGVyaW9yJTIwZGVzaWdufGVufDB8fDB8fHww"
        class="absolute top-0 h-full w-full grayscale"
        alt=""
      />
      <span class="absolute inset-0 z-10 bg-background/70"></span>
      <div class="absolute bottom-10 z-20 -rotate-90 text-lg font-medium">
        <span>Stairs</span>
      </div>
      <div
        class="absolute left-4 top-4 z-20 flex max-w-48 overflow-hidden pl-4"
      >
        <div
          class="duration-400 relative overflow-hidden delay-100 ease-in md:opacity-0 md:transition-opacity md:group-hover:opacity-100"
        >
          <h3 class="text-3xl font-bold">
            Lorem ipsum dolor sit amet consectetur
          </h3>
          <small>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam nam
            officiis fuga rem! Nobis,
          </small>
        </div>
      </div>
    </a>

    <a
      aria-label="Link to "
      target="_blank"
      href="#"
      class="group relative h-[500px] w-72 border-foreground/20 transition-transform hover:scale-[1.02]"
    >
      <span class="absolute right-4 top-4 z-20">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6 stroke-foreground"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
          />
          <path d="M11 13l9 -9" />
          <path d="M15 4h5v5" />
        </svg>
      </span>
      <img
        src="https://images.unsplash.com/photo-1615800002234-05c4d488696c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="absolute top-0 h-full w-full grayscale"
        alt=""
      />
      <span class="absolute inset-0 z-10 bg-background/70"></span>
      <div class="absolute bottom-10 z-20 -rotate-90 text-lg font-medium">
        <span>Living</span>
      </div>
      <div
        class="absolute left-4 top-4 z-20 flex max-w-48 overflow-hidden pl-4"
      >
        <div
          class="duration-400 relative overflow-hidden delay-100 ease-in md:opacity-0 md:transition-opacity md:group-hover:opacity-100"
        >
          <h3 class="text-3xl font-bold">
            Lorem ipsum dolor sit amet consectetur
          </h3>
          <small>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam nam
            officiis fuga rem! Nobis,
          </small>
        </div>
      </div>
    </a>
  </div>
</section>
