<section class="flex place-content-center items-center px-4 py-20">
  <div class="bg-card-background relative w-full max-w-sm">
    <button
      class="bg-card-background/50 absolute right-4 top-2 flex place-content-center items-center rounded-xl p-2 text-primary backdrop-blur-lg transition-transform ease-out active:scale-95"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-6 w-6"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
      </svg>
    </button>
    <div>
      <img
        src="https://images.unsplash.com/photo-1535295972055-1c762f4483e5?w=400&h=300&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGVvcGxlJTIwc21pbGV8ZW58MHx8MHx8fDA%3D"
        alt=""
        class=""
      />
    </div>
    <div class="space-y-6 p-8">
      <div class="space-y-3">
        <a href="#" class="text-xl font-bold underline hover:text-primary"
          >Lorem ipsum dolor sit amet</a
        >
        <div class="flex items-center space-x-2 text-xs">
          <span class="rounded-full bg-primary/5 px-2 text-primary">Lorem</span
          ><span class="rounded-full bg-primary/5 px-2 text-primary">Lorem</span
          ><span class="rounded-full bg-primary/5 px-2 text-primary"
            >Lorem</span
          >
        </div>
      </div>
      <p class="max-sm:text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, deserunt
        veritatis! Vero dolorum voluptatem, quia minima, tenetur quo laborum
        quidem inventore alias repudiandae adipisci, architecto nulla. Veniam
        animi eum doloribus!max-w-md ww-full
      </p>
    </div>
  </div>
</section>
