<div
  class="container w-full rounded-lg bg-card-background px-10 py-20 shadow-xl lg:p-20"
>
  <div class="flex flex-col items-center text-center">
    <span class="block text-lg font-bold uppercase tracking-wider opacity-50">
      Hey there dev!
    </span>
    <h2 class="mt-2 text-4xl font-bold">Be part of KilahUI</h2>
    <p class="mt-4 text-lg">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sed
      molestiae! Doloremque doloribus inventore dicta quia rem, alias
      accusantium suscipit eius atque numquam beatae culpa et eligendi, vitae,
      laudantium aliquid.
    </p>
    <a
      href="#"
      class="mt-10 block w-fit rounded-lg bg-primary px-12 py-3 text-xl font-medium"
    >
      Contribute
    </a>
  </div>
</div>
