<div
  class="flex w-full max-w-7xl flex-col place-content-center items-center rounded-xl bg-background p-20"
>
  <div class="max-w-4xl text-center">
    <h2 class="text-5xl font-bold">Subscribe to our newsletter</h2>
    <p class="mt-6 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente omnis
      accusantium optio animi voluptatibus assumenda ipsa? Aliquam accusantium
      totam doloribus labore consectetur optio reiciendis praesentium vel,
      quaerat suscipit adipisci soluta!
    </p>
  </div>
  <form class="mt-8 w-full max-w-2xl" action="">
    <div class="relative w-full">
      <input
        inputmode="email"
        name="email"
        placeholder="iwannabepartofkilahui@forsure.com"
        class="flex w-full items-center rounded-full border-2 border-transparent bg-input/20 p-4 transition-colors focus:border-primary focus:outline-none focus:ring-0"
        type="text"
      />
      <button
        type="submit"
        class="absolute bottom-1 right-1 top-1 z-10 flex w-full max-w-[100px] place-content-center items-center rounded-full bg-primary p-4 text-primary-foreground"
      >
        Join
      </button>
    </div>
  </form>
</div>
