<section class="flex flex-col items-center px-6 py-16 lg:px-20 2xl:px-40">
  <div class="max-w-2xl text-center">
    <h2 class="text-4xl font-bold">
      User <span class="text-primary">testimonials</span>
    </h2>
    <p class="mt-4 text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ratione
      est nisi facere, modi voluptatibus exercitationem vitae ipsam, vero nemo
      quasi animi! At qui pariatur quasi debitis ipsam, error impedit?
    </p>
  </div>
  <div class="mt-10 py-32 md:w-full">
    <ul class="grid gap-10 max-xl:gap-y-32 md:grid-cols-2 xl:grid-cols-4">
      <li class="w-full max-w-sm">
        <div
          class="relative flex flex-col items-center rounded-xl bg-card-background px-6 pb-12 pt-24 shadow-md"
        >
          <div
            class="absolute -top-20 right-0 flex w-full flex-col items-center border-primary p-6"
          >
            <div
              class="relative after:absolute after:-inset-6 after:rounded-full after:border after:border-primary after:content-['']"
            >
              <img
                height="128"
                width="128"
                decoding="async"
                loading="lazy"
                class="relative h-28 w-28 rounded-full border border-foreground/5 object-cover"
                src="https://randomuser.me/api/portraits/men/20.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
          </div>
          <div class="mt-6 flex flex-col items-center space-y-2 text-center">
            <p class="text-2xl font-bold">Jhon Doe</p>
            <p>Creator of KilahUI</p>
            <svg
              clip-rule="evenodd"
              fill-rule="evenodd"
              stroke--inejoin="round"
              stroke-miterlimit="2"
              viewBox="0 0 24 24"
              class="h-10 w-10 fill-primary"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m21.301 4c.411 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.738 4.129-4.308 4.129-3.24 0-4.83-2.547-4.83-5.307 0-5.98 6.834-10.693 8.468-10.693zm-10.833 0c.41 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.739 4.129-4.308 4.129-3.241 0-4.83-2.547-4.83-5.307 0-5.98 6.833-10.693 8.468-10.693z"
                fill-rule="nonzero"
              />
            </svg>
            <blockquote>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, impedit voluptates minus libero iure dolor. Fugit
              eum obcaecati corporis est itaque odio, numquam nostrum sit.
              Fugiat exercitationem odio corporis quo.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="w-full max-w-sm">
        <div
          class="relative flex flex-col items-center rounded-xl bg-primary px-6 pb-12 pt-24 text-primary-foreground shadow-md"
        >
          <div
            class="absolute -top-20 right-0 flex w-full flex-col items-center border-primary p-6"
          >
            <div
              class="relative after:absolute after:-inset-6 after:rounded-full after:border after:border-foreground/20 after:content-['']"
            >
              <img
                height="128"
                width="128"
                decoding="async"
                loading="lazy"
                class="relative h-28 w-28 rounded-full border border-foreground/5 object-cover"
                src="https://randomuser.me/api/portraits/women/50.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
          </div>
          <div class="mt-6 flex flex-col items-center space-y-2 text-center">
            <p class="text-2xl font-bold">Jane Doe</p>
            <p>Creator of KilahUI</p>
            <svg
              clip-rule="evenodd"
              fill-rule="evenodd"
              stroke--inejoin="round"
              stroke-miterlimit="2"
              viewBox="0 0 24 24"
              class="h-10 w-10 fill-primary-foreground"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m21.301 4c.411 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.738 4.129-4.308 4.129-3.24 0-4.83-2.547-4.83-5.307 0-5.98 6.834-10.693 8.468-10.693zm-10.833 0c.41 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.739 4.129-4.308 4.129-3.241 0-4.83-2.547-4.83-5.307 0-5.98 6.833-10.693 8.468-10.693z"
                fill-rule="nonzero"
              />
            </svg>
            <blockquote>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, impedit voluptates minus libero iure dolor. Fugit
              eum obcaecati corporis est itaque odio, numquam nostrum sit.
              Fugiat exercitationem odio corporis quo.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="w-full max-w-sm">
        <div
          class="relative flex flex-col items-center rounded-xl bg-primary px-6 pb-12 pt-24 text-primary-foreground shadow-md"
        >
          <div
            class="absolute -top-20 right-0 flex w-full flex-col items-center border-primary p-6"
          >
            <div
              class="relative after:absolute after:-inset-6 after:rounded-full after:border after:border-foreground/20 after:content-['']"
            >
              <img
                height="128"
                width="128"
                decoding="async"
                loading="lazy"
                class="relative h-28 w-28 rounded-full border border-foreground/5 object-cover"
                src="https://randomuser.me/api/portraits/men/80.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary-foreground stroke-primary-foreground"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
          </div>
          <div class="mt-6 flex flex-col items-center space-y-2 text-center">
            <p class="text-2xl font-bold">Jhon Doe</p>
            <p>Creator of KilahUI</p>
            <svg
              clip-rule="evenodd"
              fill-rule="evenodd"
              stroke--inejoin="round"
              stroke-miterlimit="2"
              viewBox="0 0 24 24"
              class="h-10 w-10 fill-primary-foreground"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m21.301 4c.411 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.738 4.129-4.308 4.129-3.24 0-4.83-2.547-4.83-5.307 0-5.98 6.834-10.693 8.468-10.693zm-10.833 0c.41 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.739 4.129-4.308 4.129-3.241 0-4.83-2.547-4.83-5.307 0-5.98 6.833-10.693 8.468-10.693z"
                fill-rule="nonzero"
              />
            </svg>
            <blockquote>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, impedit voluptates minus libero iure dolor. Fugit
              eum obcaecati corporis est itaque odio, numquam nostrum sit.
              Fugiat exercitationem odio corporis quo.
            </blockquote>
          </div>
        </div>
      </li>
      <li class="w-full max-w-sm">
        <div
          class="relative flex flex-col items-center rounded-xl bg-card-background px-6 pb-12 pt-24 shadow-md"
        >
          <div
            class="absolute -top-20 right-0 flex w-full flex-col items-center border-primary p-6"
          >
            <div
              class="relative after:absolute after:-inset-6 after:rounded-full after:border after:border-primary after:content-['']"
            >
              <img
                height="128"
                width="128"
                decoding="async"
                loading="lazy"
                class="relative h-28 w-28 rounded-full border border-foreground/5 object-cover"
                src="https://randomuser.me/api/portraits/women/20.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke-inecap="round"
              stroke-inejoin="round"
              class="fill-primary stroke-primary"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              />
            </svg>
          </div>
          <div class="mt-6 flex flex-col items-center space-y-2 text-center">
            <p class="text-2xl font-bold">Jane Doe</p>
            <p>Creator of KilahUI</p>
            <svg
              clip-rule="evenodd"
              fill-rule="evenodd"
              stroke--inejoin="round"
              stroke-miterlimit="2"
              viewBox="0 0 24 24"
              class="h-10 w-10 fill-primary"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m21.301 4c.411 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.738 4.129-4.308 4.129-3.24 0-4.83-2.547-4.83-5.307 0-5.98 6.834-10.693 8.468-10.693zm-10.833 0c.41 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.739 4.129-4.308 4.129-3.241 0-4.83-2.547-4.83-5.307 0-5.98 6.833-10.693 8.468-10.693z"
                fill-rule="nonzero"
              />
            </svg>
            <blockquote>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Perspiciatis, impedit voluptates minus libero iure dolor. Fugit
              eum obcaecati corporis est itaque odio, numquam nostrum sit.
              Fugiat exercitationem odio corporis quo.
            </blockquote>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
