<section class="w-full px-4 py-16">
  <div class="flex w-full flex-col items-center pb-16">
    <div class="flex flex-col items-center">
      <div class="max-w-2xl space-y-4">
        <p class="text-center text-lg text-foreground/50">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <h2 class="text-center text-3xl font-semibold text-primary md:text-4xl">
        Voluptate commodi quas fugiat cumque corrupti
      </h2>
    </div>
    <ul
      class="container mt-10 grid w-full justify-items-stretch gap-10 gap-y-28 md:mt-40 md:gap-y-48 2xl:px-20"
    >
      <li>
        <div
          class="flex items-center -space-x-2 max-md:flex-col max-md:space-y-28"
        >
          <div
            class="relative flex w-full flex-col items-center space-y-6 bg-card-background px-16 py-6 pb-16 text-center"
          >
            <div class="absolute -bottom-24 flex w-full flex-col items-center">
              <img
                class="h-24 w-24 rounded-full object-cover object-top"
                src="https://randomuser.me/api/portraits/women/90.jpg"
                alt="Avatar"
              />
              <p>Jane Doe</p>
              <small>Frontend Dev</small>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-16 w-16 rotate-180 fill-foreground/10"
              >
                <path
                  d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
                />
              </svg>
            </div>
            <blockquote>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, dolores voluptatibus exercitationem voluptatem
              explicabo accusamus sed dicta, consequatur ea quam magnam
              architecto totam, vitae voluptates iure accusantium ab
              necessitatibus natus!
            </blockquote>
          </div>
          <div
            class="relative z-10 flex w-full flex-col items-center space-y-6 bg-primary px-16 py-6 pb-16 text-center text-primary-foreground md:-translate-y-20 md:scale-110"
          >
            <div
              class="absolute -bottom-24 flex w-full flex-col items-center text-foreground"
            >
              <img
                class="h-24 w-24 rounded-full object-cover object-top"
                src="https://randomuser.me/api/portraits/men/90.jpg"
                alt="Avatar"
              />
              <p>Jonh Doe</p>
              <small>Frontend Dev</small>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-16 w-16 rotate-180 fill-primary-foreground"
              >
                <path
                  d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
                />
              </svg>
            </div>
            <blockquote>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, dolores voluptatibus exercitationem voluptatem
              explicabo accusamus sed dicta, consequatur ea quam magnam
              architecto totam, vitae voluptates iure accusantium ab
              necessitatibus natus!
            </blockquote>
          </div>
          <div
            class="relative flex w-full flex-col items-center space-y-6 bg-card-background px-16 py-6 pb-16 text-center"
          >
            <div class="absolute -bottom-24 flex w-full flex-col items-center">
              <img
                class="h-24 w-24 rounded-full object-cover object-top"
                src="https://randomuser.me/api/portraits/men/80.jpg"
                alt="Avatar"
              />
              <p>Jonh Doe</p>
              <small>Frontend Dev</small>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-16 w-16 rotate-180 fill-foreground/10"
              >
                <path
                  d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
                />
              </svg>
            </div>
            <blockquote>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, dolores voluptatibus exercitationem voluptatem
              explicabo accusamus sed dicta, consequatur ea quam magnam
              architecto totam, vitae voluptates iure accusantium ab
              necessitatibus natus!
            </blockquote>
          </div>
        </div>
      </li>
      <li>
        <div
          class="flex items-center -space-x-2 max-md:flex-col max-md:space-y-28"
        >
          <div
            class="relative flex w-full flex-col items-center space-y-6 bg-card-background px-16 py-6 pb-16 text-center"
          >
            <div class="absolute -bottom-24 flex w-full flex-col items-center">
              <img
                class="h-24 w-24 rounded-full object-cover object-top"
                src="https://randomuser.me/api/portraits/men/60.jpg"
                alt="Avatar"
              />
              <p>Jonh Doe</p>
              <small>Frontend Dev</small>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-16 w-16 rotate-180 fill-foreground/10"
              >
                <path
                  d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
                />
              </svg>
            </div>
            <blockquote>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, dolores voluptatibus exercitationem voluptatem
              explicabo accusamus sed dicta, consequatur ea quam magnam
              architecto totam, vitae voluptates iure accusantium ab
              necessitatibus natus!
            </blockquote>
          </div>
          <div
            class="relative z-10 flex w-full flex-col items-center space-y-6 bg-primary px-16 py-6 pb-16 text-center text-primary-foreground md:-translate-y-20 md:scale-110"
          >
            <div
              class="absolute -bottom-24 flex w-full flex-col items-center text-foreground"
            >
              <img
                class="h-24 w-24 rounded-full object-cover object-top"
                src="https://randomuser.me/api/portraits/women/70.jpg"
                alt="Avatar"
              />
              <p>Jane Doe</p>
              <small>Frontend Dev</small>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-16 w-16 rotate-180 fill-primary-foreground"
              >
                <path
                  d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
                />
              </svg>
            </div>
            <blockquote>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, dolores voluptatibus exercitationem voluptatem
              explicabo accusamus sed dicta, consequatur ea quam magnam
              architecto totam, vitae voluptates iure accusantium ab
              necessitatibus natus!
            </blockquote>
          </div>
          <div
            class="relative flex w-full flex-col items-center space-y-6 bg-card-background px-16 py-6 pb-16 text-center"
          >
            <div class="absolute -bottom-24 flex w-full flex-col items-center">
              <img
                class="h-24 w-24 rounded-full object-cover object-top"
                src="https://randomuser.me/api/portraits/women/80.jpg"
                alt="Avatar"
              />
              <p>Jane Doe</p>
              <small>Frontend Dev</small>
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-16 w-16 rotate-180 fill-foreground/10"
              >
                <path
                  d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
                />
              </svg>
            </div>
            <blockquote>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatum, dolores voluptatibus exercitationem voluptatem
              explicabo accusamus sed dicta, consequatur ea quam magnam
              architecto totam, vitae voluptates iure accusantium ab
              necessitatibus natus!
            </blockquote>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
