<section class="w-full overflow-x-hidden px-4 py-16">
  <div class="flex flex-col items-center">
    <div class="max-w-2xl space-y-4 text-center">
      <h2 class="text-4xl font-semibold">
        Voluptate commodi quas fugiat cumque corrupti
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        exercitationem ipsam similique maiores accusamus magni illo, magnam,
        eligendi nemo amet sint laborum consequatur eius. Iusto voluptatum totam
        laudantium quidem consectetur?
      </p>
    </div>
    <ul
      class="container mt-10 grid gap-y-10 py-10 sm:gap-y-24 lg:grid-cols-2 lg:gap-x-10"
    >
      <li>
        <div
          class="group relative flex h-full w-full max-w-xl items-center space-x-10 bg-card-background px-2 max-md:py-6 md:px-8"
        >
          <div class="absolute left-0 top-0 p-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-8 w-8 rotate-180 fill-foreground/10 md:h-16 md:w-16"
            >
              <path
                d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
              />
            </svg>
          </div>
          <div>
            <blockquote class="font-medium">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis a
              in aspernatur vel quasi dicta eligendi
            </blockquote>
            <p class="text-lg font-bold text-primary md:text-xl">Jane Doe</p>
            <small>CEO at FakeCompany.ltd</small>
          </div>
          <div class="">
            <img
              width="408px"
              height="612px"
              src="https://res.cloudinary.com/dprty78z0/image/upload/v1721101798/eu62cqphn6mljrdojn99.png"
              alt=""
              class="scale-125 object-contain object-top grayscale transition-all duration-300 ease-in-out group-hover:scale-150 group-hover:grayscale-0"
            />
          </div>
        </div>
      </li>

      <li>
        <div
          class="group relative flex h-full w-full max-w-xl items-center space-x-10 bg-card-background px-2 max-md:py-6 md:px-8"
        >
          <div class="absolute left-0 top-0 p-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-8 w-8 rotate-180 fill-foreground/10 md:h-16 md:w-16"
            >
              <path
                d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
              />
            </svg>
          </div>
          <div>
            <blockquote class="font-medium">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis a
              in aspernatur vel quasi dicta eligendi
            </blockquote>
            <p class="text-lg font-bold text-primary md:text-xl">Jonh Doe</p>
            <small>CEO at FakeCompany.ltd</small>
          </div>
          <div class="">
            <img
              width="408px"
              height="612px"
              src="https://res.cloudinary.com/dprty78z0/image/upload/v1721101799/epcpg1tjnr78yteglqae.png"
              alt=""
              class="scale-125 object-contain object-top grayscale transition-all duration-300 ease-in-out group-hover:scale-150 group-hover:grayscale-0"
            />
          </div>
        </div>
      </li>

      <li>
        <div
          class="group relative flex h-full w-full max-w-xl items-center space-x-10 bg-card-background px-2 max-md:py-6 md:px-8"
        >
          <div class="absolute left-0 top-0 p-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-8 w-8 rotate-180 fill-foreground/10 md:h-16 md:w-16"
            >
              <path
                d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
              />
            </svg>
          </div>
          <div>
            <blockquote class="font-medium">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis a
              in aspernatur vel quasi dicta eligendi
            </blockquote>
            <p class="text-lg font-bold text-primary md:text-xl">Jonh Doe</p>
            <small>CEO at FakeCompany.ltd</small>
          </div>
          <div class="">
            <img
              width="408px"
              height="612px"
              src="https://res.cloudinary.com/dprty78z0/image/upload/v1721106493/it5u3zznolpsv22su37b.png"
              alt=""
              class="scale-125 object-contain object-top grayscale transition-all duration-300 ease-in-out group-hover:scale-150 group-hover:grayscale-0"
            />
          </div>
        </div>
      </li>

      <li>
        <div
          class="group relative flex h-full w-full max-w-xl items-center space-x-10 bg-card-background px-2 max-md:py-6 md:px-8"
        >
          <div class="absolute left-0 top-0 p-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-8 w-8 rotate-180 fill-foreground/10 md:h-16 md:w-16"
            >
              <path
                d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
              />
            </svg>
          </div>
          <div>
            <blockquote class="font-medium">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis a
              in aspernatur vel quasi dicta eligendi
            </blockquote>
            <p class="text-lg font-bold text-primary md:text-xl">Jane Doe</p>
            <small>CEO at FakeCompany.ltd</small>
          </div>
          <div class="">
            <img
              width="408px"
              height="612px"
              src="https://res.cloudinary.com/dprty78z0/image/upload/v1721106493/kuoc9rddnhtryjpexd94.png"
              alt=""
              class="scale-125 object-contain object-top grayscale transition-all duration-300 ease-in-out group-hover:scale-150 group-hover:grayscale-0"
            />
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
