<!-- Inspired by https://www.pinterest.com/pin/845339792589141148/ -->

<section class="container w-full">
  <div
    class="flex justify-evenly px-4 py-16 max-lg:flex-col max-lg:items-center md:px-16"
  >
    <div class="max-w-md space-y-6 lg:max-w-sm xl:max-w-md 2xl:max-w-xl">
      <div class="space-y-4">
        <h2 class="text-4xl font-medium text-primary">
          What our <br />
          customers says!
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam
          neque minima nobis sit nihil harum. Tempore, aliquid officiis
          consequuntur pariatur unde vitae ratione porro voluptatum? Id ex
          exercitationem tenetur.
        </p>
      </div>
      <div>
        <a
          href="#"
          class="bg-primary px-4 py-2 transition-all hover:bg-primary/80 active:scale-95"
        >
          View More
        </a>
      </div>
    </div>
    <div class="max-lg:mt-10">
      <ul class="flex flex-col place-content-center space-y-6 lg:items-center">
        <li class="relative w-full max-w-md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="absolute right-2 top-2 fill-foreground/10"
          >
            <path
              d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
            />
          </svg>
          <div
            class="flex items-center space-x-4 border-l-4 border-foreground/20 bg-foreground/5 p-4"
          >
            <img
              height="128"
              width="128"
              decoding="async"
              loading="lazy"
              class="h-20 w-20 flex-grow rounded-full border border-foreground/10 object-cover"
              src="https://randomuser.me/api/portraits/women/90.jpg"
              alt=""
            />
            <div>
              <h4><b>Jane Smith</b></h4>
              <blockquote class="text-sm italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Commodi, nemo nobis? Est alias qui, iusto possimus ratione a..
              </blockquote>
            </div>
          </div>
        </li>
        <li class="relative w-full max-w-md xl:-translate-x-16">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="absolute right-2 top-2 fill-primary"
          >
            <path
              d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
            />
          </svg>
          <div
            class="flex items-center space-x-4 border-l-4 border-primary bg-foreground/5 p-4"
          >
            <img
              height="128"
              width="128"
              decoding="async"
              loading="lazy"
              class="h-20 w-20 flex-grow rounded-full border border-foreground/10"
              src="https://randomuser.me/api/portraits/men/90.jpg"
            />
            <div>
              <h4><b>Michael Johnson</b></h4>
              <blockquote class="text-sm italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Commodi, nemo nobis? Est alias qui, iusto possimus ratione a..
              </blockquote>
            </div>
          </div>
        </li>
        <li class="relative w-full max-w-md">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="absolute right-2 top-2 fill-foreground/10"
          >
            <path
              d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
            />
          </svg>
          <div
            class="flex items-center space-x-4 border-l-4 border-foreground/20 bg-foreground/5 p-4"
          >
            <img
              height="128"
              width="128"
              decoding="async"
              loading="lazy"
              class="h-20 w-20 flex-grow rounded-full border border-foreground/10"
              src="https://randomuser.me/api/portraits/women/40.jpg"
              alt=""
            />

            <div>
              <h4><b>Emily Davis</b></h4>
              <blockquote class="text-sm italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Commodi, nemo nobis? Est alias qui, iusto possimus ratione a..
              </blockquote>
            </div>
          </div>
        </li>
        <li class="relative w-full max-w-md xl:translate-x-16">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            class="absolute right-2 top-2 fill-primary"
          >
            <path
              d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z"
            />
          </svg>
          <div
            class="flex items-center space-x-4 border-l-4 border-primary bg-foreground/5 p-4"
          >
            <img
              height="128"
              width="128"
              decoding="async"
              loading="lazy"
              class="h-20 w-20 flex-grow rounded-full border border-foreground/10"
              src="https://randomuser.me/api/portraits/women/2.jpg"
            />
            <div>
              <h4><b>Pam Johnson</b></h4>
              <blockquote class="text-sm italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Commodi, nemo nobis? Est alias qui, iusto possimus ratione a..
              </blockquote>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
