<main class="min-h-screen">
  <aside
    class="fixed bottom-0 left-0 top-0 z-50 w-[15rem] overflow-y-auto bg-card-background sm:w-[5rem] lg:w-[20rem]"
  >
    <div class="mx-auto grid px-2 pt-4 sm:max-lg:justify-center lg:px-6">
      <button
        class="h-fit rounded-xl bg-accent/5 p-1.5 ring-1 ring-inset ring-transparent transition ease-in-out hover:bg-accent/10 hover:ring-accent/20 sm:max-lg:w-fit lg:p-2"
      >
        <div class="flex items-center justify-between">
          <div
            class="flex max-sm:place-content-center sm:max-lg:items-center lg:space-x-0.5"
          >
            <img
              src="https://randomuser.me/api/portraits/men/2.jpg"
              alt="avatar"
              class="h-12 w-12 rounded-md border border-input/20 object-cover lg:h-16 lg:w-16 lg:rounded-3xl"
            />
            <div class="py-2 sm:max-lg:sr-only">
              <p class="block indent-0">Doe Jhon</p>
              <p class="block indent-3 text-xs">doe@fake.com</p>
            </div>
          </div>
          <span class="sm:max-lg:sr-only">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M18 9c.852 0 1.297 .986 .783 1.623l-.076 .084l-6 6a1 1 0 0 1 -1.32 .083l-.094 -.083l-6 -6l-.083 -.094l-.054 -.077l-.054 -.096l-.017 -.036l-.027 -.067l-.032 -.108l-.01 -.053l-.01 -.06l-.004 -.057v-.118l.005 -.058l.009 -.06l.01 -.052l.032 -.108l.027 -.067l.07 -.132l.065 -.09l.073 -.081l.094 -.083l.077 -.054l.096 -.054l.036 -.017l.067 -.027l.108 -.032l.053 -.01l.06 -.01l.057 -.004l12.059 -.002z"
              />
            </svg>
          </span>
        </div>
      </button>
      <div class="mt-10 h-[1px] w-[90%] place-self-center bg-accent/10"></div>
      <div class="h-fit py-5">
        <ul class="grid gap-2">
          <li
            class="rounded-md border-l-4 border-primary bg-accent/5 transition ease-in-out"
          >
            <a
              href="#"
              class="flex items-center space-x-1 px-2 py-3 sm:max-lg:place-content-center lg:h-full lg:w-full"
            >
              <span class="block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M9 3a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2zm0 12a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-2a2 2 0 0 1 2 -2zm10 -4a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2zm0 -8a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-4a2 2 0 0 1 -2 -2v-2a2 2 0 0 1 2 -2z"
                  />
                </svg>
              </span>
              <p class="sm:max-lg:sr-only">Overview</p>
            </a>
          </li>
          <li
            class="h-full w-full rounded-md border border-transparent transition ease-in-out hover:border hover:border-accent/10 hover:bg-accent/5"
          >
            <a
              href="#"
              class="flex items-center space-x-1 px-2 py-3 sm:max-lg:place-content-center lg:h-full lg:w-full"
            >
              <span class="block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
                  <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
                  <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
                  <path d="M11 6l9 0" />
                  <path d="M11 12l9 0" />
                  <path d="M11 18l9 0" />
                </svg>
              </span>
              <p class="sm:max-lg:sr-only">Tasks</p>
            </a>
          </li>
          <li
            class="h-full w-full rounded-md border border-transparent transition ease-in-out hover:border hover:border-accent/10 hover:bg-accent/5"
          >
            <a
              href="#"
              class="flex items-center space-x-1 px-2 py-3 sm:max-lg:place-content-center lg:h-full lg:w-full"
            >
              <span class="block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
                  />
                  <path d="M4 13h3l3 3h4l3 -3h3" />
                </svg>
              </span>
              <p class="sm:max-lg:sr-only">Inbox</p>
            </a>
          </li>
          <li
            class="h-full w-full rounded-md border border-transparent transition ease-in-out hover:border hover:border-accent/10 hover:bg-accent/5"
          >
            <a
              href="#"
              class="flex items-center space-x-1 px-2 py-3 sm:max-lg:place-content-center lg:h-full lg:w-full"
            >
              <span class="block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"
                  />
                  <path d="M3 10l18 0" />
                  <path d="M7 15l.01 0" />
                  <path d="M11 15l2 0" />
                </svg>
              </span>
              <p class="sm:max-lg:sr-only">Payments</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="h-[1px] w-[90%] place-self-center bg-accent/10"></div>
      <div class="h-fit py-5">
        <ul class="grid gap-2">
          <li
            class="h-full w-full rounded-md border border-transparent transition ease-in-out hover:border hover:border-accent/10 hover:bg-accent/5"
          >
            <a
              href="#"
              class="flex items-center space-x-1 px-2 py-3 sm:max-lg:place-content-center lg:h-full lg:w-full"
            >
              <span class="block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                  <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
              </span>
              <p class="sm:max-lg:sr-only">Account</p>
            </a>
          </li>
          <li
            class="h-full w-full rounded-md border border-transparent transition ease-in-out hover:border hover:border-accent/10 hover:bg-accent/5"
          >
            <a
              href="#"
              class="flex items-center space-x-1 px-2 py-3 sm:max-lg:place-content-center lg:h-full lg:w-full"
            >
              <span class="block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                  />
                  <path
                    d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                  />
                  <path
                    d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                  />
                  <path
                    d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
                  />
                </svg>
              </span>
              <p class="sm:max-lg:sr-only">Projects</p>
            </a>
          </li>
          <li
            class="h-full w-full rounded-md border border-transparent transition ease-in-out hover:border hover:border-accent/10 hover:bg-accent/5"
          >
            <a
              href="#"
              class="flex items-center space-x-1 px-2 py-3 sm:max-lg:place-content-center lg:h-full lg:w-full"
            >
              <span class="block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
                  <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path d="M17 10h2a2 2 0 0 1 2 2v1" />
                  <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
                </svg>
              </span>
              <p class="sm:max-lg:sr-only">Team</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <div
    class="min-h-screen w-full bg-background sm:pl-[5rem] lg:pl-[20rem]"
  ></div>
</main>
