<header
  class="sticky top-0 z-50 flex w-full items-center px-8 py-6 text-gray-50 backdrop-blur-sm max-md:justify-end max-md:space-x-3"
>
  <div class="flex flex-1 max-md:hidden"></div>
  <div class="flex justify-end md:hidden">
    <div
      class="flex items-center space-x-1 rounded-full border border-gray-300/10 bg-gray-300/5 px-6 py-3"
    >
      <span>Menu</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="1"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 9l6 6l6 -6" />
      </svg>
    </div>
  </div>
  <nav class="flex flex-1 max-md:hidden">
    <ul
      class="flex items-center space-x-8 rounded-full border border-gray-300/10 bg-gray-300/5 px-6 py-3 backdrop-blur-md"
    >
      <a
        href=""
        class="w-full transition-colors ease-in-out hover:text-primary/80"
        >Home</a
      >
      <a
        href=""
        class="w-full transition-colors ease-in-out hover:text-primary/80"
        >About</a
      >
      <a
        href=""
        class="w-full transition-colors ease-in-out hover:text-primary/80"
        >Services</a
      >
      <a
        href=""
        class="w-full transition-colors ease-in-out hover:text-primary/80"
        >Portfolio</a
      >
      <a
        href=""
        class="w-full transition-colors ease-in-out hover:text-primary/80"
        >Blog</a
      >
      <a
        href=""
        class="w-full transition-colors ease-in-out hover:text-primary/80"
        >Contact</a
      >
    </ul>
  </nav>
  <div class="relative flex justify-end md:flex-1">
    <button
      class="rounded-full border border-gray-300/10 bg-gray-300/5 px-4 py-3 transition-colors ease-in-out hover:text-primary/80"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
        />
        <path
          d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"
        />
        <path d="M19 11h2m-1 -1v2" />
      </svg>
    </button>
  </div>
</header>
