<section class="bg-background py-10 text-foreground sm:py-16 lg:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold leading-tight sm:text-4xl lg:text-5xl">
        Create a free account
      </h2>
      <p
        class="mx-auto mt-4 max-w-xl text-base leading-relaxed text-foreground/50"
      >
        You can create a KilahUi account today for 0$!
      </p>
    </div>

    <div class="relative mx-auto mt-8 max-w-md md:mt-16">
      <div class="overflow-hidden rounded-md bg-card-background shadow-md">
        <div class="px-4 py-6 sm:px-8 sm:py-7">
          <form action="#" method="POST">
            <div class="space-y-5">
              <div>
                <label for="" class="text-base text-foreground/50">
                  Full Name
                </label>
                <div
                  class="relative mt-2.5 text-input/20 focus-within:text-primary"
                >
                  <div
                    class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      2
                      stroke-linejoin="round"
                      class="h-6 w-6"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 13a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z" />
                      <path
                        d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
                      />
                      <path
                        d="M6 20.05v-.05a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v.05"
                      />
                    </svg>
                  </div>

                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Jane Doe"
                    class="block w-full rounded-md border border-input/50 bg-transparent py-2 pl-10 pr-4 text-foreground placeholder-input/20 focus:border-primary focus:outline-none focus:ring-0"
                  />
                </div>
              </div>

              <div>
                <label for="" class="text-base text-foreground/50">
                  Email
                </label>
                <div
                  class="relative mt-2.5 text-input/20 focus-within:text-primary"
                >
                  <div
                    class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      2
                      stroke-linejoin="round"
                      class="h-6 w-6"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
                      />
                      <path d="M3 7l9 6l9 -6" />
                    </svg>
                  </div>

                  <input
                    type="email"
                    name=""
                    id=""
                    inputmode="email"
                    placeholder="jdoe@gmail.com"
                    class="block w-full rounded-md border border-input/50 bg-transparent py-2 pl-10 pr-4 text-foreground placeholder-input/20 focus:border-primary focus:outline-none focus:ring-0"
                  />
                </div>
              </div>

              <div>
                <label for="" class="text-base text-foreground/50">
                  Password
                </label>
                <div
                  class="relative mt-2.5 text-input/20 focus-within:text-primary"
                >
                  <div
                    class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      2
                      stroke-linejoin="round"
                      class="h-6 w-6"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 17v4" />
                      <path d="M10 20l4 -2" />
                      <path d="M10 18l4 2" />
                      <path d="M5 17v4" />
                      <path d="M3 20l4 -2" />
                      <path d="M3 18l4 2" />
                      <path d="M19 17v4" />
                      <path d="M17 20l4 -2" />
                      <path d="M17 18l4 2" />
                      <path d="M9 6a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                      <path d="M7 14a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2" />
                    </svg>
                  </div>

                  <input
                    type="password"
                    name=""
                    id=""
                    placeholder="********"
                    class="block w-full rounded-md border border-input/50 bg-transparent py-2 pl-10 pr-4 text-foreground placeholder-input/20 focus:border-primary focus:outline-none focus:ring-0"
                  />
                </div>
              </div>

              <div>
                <label for="" class="text-base text-foreground/50">
                  Confirm Password
                </label>
                <div
                  class="relative mt-2.5 text-input/20 focus-within:text-primary"
                >
                  <div
                    class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      2
                      stroke-linejoin="round"
                      class="h-6 w-6"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M7 12l5 5l10 -10" />
                      <path d="M2 12l5 5m5 -5l5 -5" />
                    </svg>
                  </div>

                  <input
                    type="confirm"
                    name=""
                    id=""
                    placeholder="********"
                    class="block w-full rounded-md border border-input/50 bg-transparent py-2 pl-10 pr-4 text-foreground placeholder-input/20 focus:border-primary focus:outline-none focus:ring-0"
                  />
                </div>
              </div>

              <div class="flex items-center">
                <input
                  type="checkbox"
                  name="agree"
                  id="agree"
                  class="h-5 w-5 rounded border-gray-200 bg-white text-secondary"
                  checked
                />

                <label
                  for="agree"
                  class="ml-3 text-sm font-medium text-gray-500"
                >
                  I agree to Postcraft’s
                  <a
                    href="#"
                    title=""
                    class="text-primary hover:text-primary/80 hover:underline"
                    >Terms of Service</a
                  >
                  and
                  <a
                    href="#"
                    title=""
                    class="text-primary hover:text-primary/80 hover:underline"
                    >Privacy Policy</a
                  >
                </label>
              </div>

              <div>
                <button
                  type="submit"
                  class="inline-flex w-full items-center justify-center rounded-md border border-transparent bg-primary p-2 text-base font-semibold text-white transition-all duration-200 hover:bg-primary/80"
                >
                  Create account
                </button>
              </div>

              <div class="text-center">
                <p class="text-base text-gray-600">
                  Already have an account?
                  <a
                    href="#"
                    title=""
                    class="font-medium text-secondary transition-all duration-200 hover:text-secondary/80 hover:underline"
                    >Login</a
                  >
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
