<section class="flex min-h-screen flex-col items-end bg-background px-4 py-16">
  <div role="menu" class="relative select-none bg-background">
    <button
      class="inline-flex items-center gap-1 rounded-md bg-accent/10 px-4 py-2 text-accent-foreground"
    >
      <span>Nav</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M6 15l6 -6l6 6" />
      </svg>
    </button>
    <div
      class="absolute -bottom-0 right-0 top-full z-50 mt-2 flex min-h-fit w-56 bg-background max-[300px]:max-w-[50vw]"
    >
      <ul class="grid w-full overflow-hidden rounded-md bg-accent/10">
        <li class="">
          <a
            class="flex w-full border-l-[5px] border-primary bg-accent/30 px-6 py-3 font-medium transition ease-in-out"
            href="#"
          >
            Link
          </a>
        </li>
        <li class="">
          <a
            class="flex w-full border-l-[5px] border-accent/10 px-6 py-3 font-medium transition ease-in-out hover:border-primary hover:bg-accent/10"
            href="#"
          >
            Link
          </a>
        </li>
        <li class="">
          <a
            class="flex w-full border-l-[5px] border-accent/10 px-6 py-3 font-medium transition ease-in-out hover:border-primary hover:bg-accent/10"
            href="#"
          >
            Link
          </a>
        </li>
        <li class="">
          <a
            class="flex w-full border-l-[5px] border-accent/10 px-6 py-3 font-medium transition ease-in-out hover:border-primary hover:bg-accent/10"
            href="#"
          >
            Link
          </a>
        </li>
        <li class="">
          <a
            class="flex w-full border-l-[5px] border-accent/10 px-6 py-3 font-medium transition ease-in-out hover:border-primary hover:bg-accent/10"
            href="#"
          >
            Link
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
