<section
  class="flex h-screen place-content-center items-center bg-background px-4"
>
  <div>
    <span
      class="ml-1 rounded-md bg-primary/5 px-2.5 py-0.5 text-xs font-medium text-primary ring-1 ring-inset ring-primary/20"
      >Primary</span
    >
    <span
      class="ml-1 rounded-md bg-secondary/5 px-2.5 py-0.5 text-xs font-medium text-secondary ring-1 ring-inset ring-secondary/20"
      >Secondary</span
    >
    <span
      class="ml-1 rounded-md bg-success/5 px-2.5 py-0.5 text-xs font-medium text-success ring-1 ring-inset ring-success/20"
      >Success</span
    >
    <span
      class="ml-1 rounded-md bg-warning/5 px-2.5 py-0.5 text-xs font-medium text-warning ring-1 ring-inset ring-warning/20"
      >Warning</span
    >
    <span
      class="ml-1 rounded-md bg-danger/5 px-2.5 py-0.5 text-xs font-medium text-danger ring-1 ring-inset ring-danger/20"
      >Danger</span
    >
    <span
      class="ml-1 rounded-md bg-info/5 px-2.5 py-0.5 text-xs font-medium text-info ring-1 ring-inset ring-info/20"
      >Info</span
    >
    <span
      class="ml-1 rounded-md bg-accent/5 px-2.5 py-0.5 text-xs font-medium text-accent ring-1 ring-inset ring-accent/20"
      >Accent</span
    >
  </div>
</section>
