<section
  class="flex h-screen place-content-center items-center bg-background px-4"
>
  <div>
    <span
      class="ml-1 rounded-md bg-primary/10 px-2.5 py-0.5 text-xs font-medium text-primary"
      >Primary</span
    >
    <span
      class="ml-1 rounded-md bg-secondary/10 px-2.5 py-0.5 text-xs font-medium text-secondary"
      >Secondary</span
    >
    <span
      class="ml-1 rounded-md bg-success/10 px-2.5 py-0.5 text-xs font-medium text-success"
      >Success</span
    >
    <span
      class="ml-1 rounded-md bg-warning/10 px-2.5 py-0.5 text-xs font-medium text-warning"
      >Warning</span
    >
    <span
      class="ml-1 rounded-md bg-danger/10 px-2.5 py-0.5 text-xs font-medium text-danger"
      >Danger</span
    >
    <span
      class="ml-1 rounded-md bg-info/10 px-2.5 py-0.5 text-xs font-medium text-info"
      >Info</span
    >
    <span
      class="ml-1 rounded-md bg-accent/10 px-2.5 py-0.5 text-xs font-medium text-accent"
      >Accent</span
    >
  </div>
</section>
