<!-- <a href="https://storyset.com/web">Web illustrations by Storyset</a> -->
<div
  class="flex h-screen w-full flex-col place-content-center items-center bg-background"
>
  <div class="flex items-center space-x-4">
    <img src="/404.svg" alt="Not Found, Please go home" class="h-full w-full" />
  </div>
  <p class="sr-only">The page you looking for is missing, please go home</p>

  <a
    href="/"
    class="mt-10 rounded-lg bg-primary px-8 py-4 font-medium text-primary-foreground"
  >
    Go Home
  </a>
</div>
