<section class="relative w-full max-w-screen-2xl p-5 md:p-10">
  <div class="max-w-lg space-y-4">
    <h2 class="text-4xl font-bold">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </h2>
    <p class="text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aut quidem
      nobis laudantium dolor, eum asperiores saepe labore ut, aspernatur
      blanditiis eaque quod hic? Ducimus, aliquid quidem! Ea, assumenda saepe!
    </p>
  </div>
  <div class="mt-10 flex max-lg:flex-col md:mt-20 lg:space-x-10">
    <!-- Features Cards -->

    <ul class="grid grid-cols-1 gap-4">
      <li class="flex h-fit w-full items-start space-x-2 lg:max-w-xl">
        <span
          class="flex w-fit place-content-center items-center rounded-full bg-primary/10 p-1 text-primary"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
        </span>

        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          similique, voluptate ab tenetur porro pariatur.
        </p>
      </li>

      <li class="flex h-fit w-full items-start space-x-2 lg:max-w-xl">
        <span
          class="flex w-fit place-content-center items-center rounded-full bg-primary/10 p-1 text-primary"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
        </span>

        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          similique, voluptate ab tenetur porro pariatur.
        </p>
      </li>

      <li class="flex h-fit w-full items-start space-x-2 lg:max-w-xl">
        <span
          class="flex w-fit place-content-center items-center rounded-full bg-primary/10 p-1 text-primary"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
          </svg>
        </span>

        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          similique, voluptate ab tenetur porro pariatur.
        </p>
      </li>

      <!-- CTA -->

      <li
        class="mt-10 flex h-fit max-sm:flex-col max-sm:space-y-3 sm:space-x-5"
      >
        <button
          class="rounded-md bg-primary px-6 py-2 font-semibold hover:opacity-90"
        >
          Try out
        </button>
        <button class="py-2 font-semibold text-primary hover:opacity-90">
          Learn
        </button>
      </li>
    </ul>

    <!-- Image Container -->

    <div class="flex h-fit flex-1 max-lg:mt-10">
      <img
        width="1380px"
        height="920px"
        class="h-full w-full rounded-md"
        src="https://img.freepik.com/free-vector/gradient-ui-ux-elements_23-2149057416.jpg?t=st=1720414131~exp=1720417731~hmac=387670893e51383e54a9a411bd966b480077f6b7fe495e5f2782fe40001f9676&w=1380"
        alt=""
      />
    </div>
  </div>
</section>
