<section class="relative w-full max-w-screen-2xl p-10">
  <div class="max-w-lg space-y-4">
    <h2 class="text-4xl font-bold">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </h2>
    <p class="text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aut quidem
      nobis laudantium dolor, eum asperiores saepe labore ut, aspernatur
      blanditiis eaque quod hic? Ducimus, aliquid quidem! Ea, assumenda saepe!
    </p>
  </div>
  <div class="mt-10 flex md:mt-20 md:text-balance lg:space-x-20">
    <!-- Features Cards -->

    <ul
      class="grid gap-10 max-lg:place-content-start md:grid-cols-2 lg:content-start lg:gap-6"
    >
      <li class="space-y-3 lg:max-w-[200px]">
        <div class="space-y-2">
          <span
            class="flex w-fit place-content-center items-center rounded-full bg-primary/10 p-2 text-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-8 w-8"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M17.657 12.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.895l1.708 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.325 -1.891l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.907 -.278l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.773l-.143 .007z"
              />
              <path
                d="M6.057 12.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.895l1.708 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.324 -1.891l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.908 -.279l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.772l-.143 .007z"
              />
              <path
                d="M11.857 2.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.894l1.709 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.325 -1.892l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.908 -.279l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.772l-.143 .007z"
              />
            </svg>
          </span>
          <h4 class="text-xl font-bold">Lorem ipsum dolor</h4>
        </div>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          similique, voluptate ab tenetur porro pariatur.
        </p>
      </li>

      <li class="space-y-3 lg:max-w-[200px]">
        <div class="space-y-2">
          <span
            class="flex w-fit place-content-center items-center rounded-full bg-primary/10 p-2 text-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-8 w-8"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 20l10 0" />
              <path d="M6 6l6 -1l6 1" />
              <path d="M12 3l0 17" />
              <path d="M9 12l-3 -6l-3 6a3 3 0 0 0 6 0" />
              <path d="M21 12l-3 -6l-3 6a3 3 0 0 0 6 0" />
            </svg>
          </span>
          <h4 class="text-xl font-bold">Lorem ipsum dolor</h4>
        </div>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          similique, voluptate ab tenetur porro pariatur.
        </p>
      </li>

      <li class="space-y-3 lg:max-w-[200px]">
        <div class="space-y-2">
          <span
            class="flex w-fit place-content-center items-center rounded-full bg-primary/10 p-2 text-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-8 w-8"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9.884 5.873a3 3 0 0 1 5.116 2.127v1" />
              <path
                d="M13 9h3a6 6 0 0 1 1 3v1m-.298 3.705a5 5 0 0 1 -9.702 -1.705v-3a6 6 0 0 1 1 -3h1"
              />
              <path d="M3 13h4" />
              <path d="M17 13h4" />
              <path d="M12 20v-6" />
              <path d="M4 19l3.35 -2" />
              <path d="M4 7l3.75 2.4" />
              <path d="M20 7l-3.75 2.4" />
              <path d="M3 3l18 18" />
            </svg>
          </span>
          <h4 class="text-xl font-bold">Lorem ipsum dolor</h4>
        </div>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          similique, voluptate ab tenetur porro pariatur.
        </p>
      </li>

      <li class="space-y-3 lg:max-w-[200px]">
        <div class="space-y-2">
          <span
            class="flex w-fit place-content-center items-center rounded-full bg-primary/10 p-2 text-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-8 w-8"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M10 19m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v1a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
              />
              <path
                d="M12 16c3.314 0 6 -4.686 6 -8a6 6 0 1 0 -12 0c0 3.314 2.686 8 6 8z"
              />
              <path d="M12 9m-2 0a2 7 0 1 0 4 0a2 7 0 1 0 -4 0" />
            </svg>
          </span>
          <h4 class="text-xl font-bold">Lorem ipsum dolor</h4>
        </div>
        <p class="text-sm">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          similique, voluptate ab tenetur porro pariatur.
        </p>
      </li>

      <!-- CTA -->

      <div
        class="mt-10 flex max-sm:flex-col max-sm:space-y-3 sm:space-x-5 md:col-span-2"
      >
        <button class="bg-primary px-6 py-2 font-semibold hover:opacity-90">
          Try out
        </button>
        <button class="py-2 font-semibold text-primary hover:opacity-90">
          Learn
        </button>
      </div>
    </ul>

    <!-- Image Container -->

    <div class="flex h-fit flex-1 shrink-[2] overflow-x-hidden max-lg:hidden">
      <img
        width="1380px"
        class="h-full w-full"
        src="https://img.freepik.com/free-vector/gradient-ui-ux-elements_23-2149057417.jpg?t=st=1720410574~exp=1720414174~hmac=9a520b895c1f657e92172135147a4540d60f3444b77a5e70bc2162a11e44dc68&w=1380"
        alt=""
      />
    </div>
  </div>
</section>
