<section class="relative w-full max-w-screen-2xl text-pretty p-10">
  <div class="flex">
    <div class="flex-1 space-y-10">
      <div class="max-w-md space-y-3">
        <h2 class="text-4xl font-bold">No speeches. Short speech.</h2>
        <p>
          Walter, you've been busy. You wanna put your arms out to the sides for
          me if you would? You know I haven't slept since Thursday? I was out
          all night
        </p>
      </div>
      <div class="flex flex-col space-y-6">
        <a class="group relative" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="absolute right-6 top-2 opacity-0 transition-all ease-in-out group-hover:right-4 group-hover:opacity-100"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
            <path d="M13 18l6 -6" />
            <path d="M13 6l6 6" />
          </svg>
          <div
            class="rounded-l-sm border-l-4 border-primary bg-primary/5 px-6 py-4 transition-colors duration-300 ease-in-out hover:bg-primary/20"
          >
            <h4 class="text-xl font-semibold transition-colors ease-in-out">
              Suspicio? Bene ... tunc ibimus?
            </h4>
            <p>
              Four pounds... foooour pounds as if two pounds wasn't bad enough.
              we're talking two three hundred boxes of sinus pills
            </p>
          </div>
        </a>
        <a class="group relative" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="absolute right-6 top-2 opacity-0 transition-all ease-in-out group-hover:right-4 group-hover:opacity-100"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
            <path d="M13 18l6 -6" />
            <path d="M13 6l6 6" />
          </svg>
          <div
            class="rounded-l-sm border-l-4 border-gray-50/10 px-6 py-4 transition-colors duration-300 ease-in-out hover:border-primary hover:bg-primary/5"
          >
            <h4 class="text-xl font-semibold transition-colors ease-in-out">
              Suspicio? Bene ... tunc ibimus?
            </h4>
            <p>
              Four pounds... foooour pounds as if two pounds wasn't bad enough.
              we're talking two three hundred boxes of sinus pills
            </p>
          </div>
        </a>
        <a class="group relative" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="absolute right-6 top-2 opacity-0 transition-all ease-in-out group-hover:right-4 group-hover:opacity-100"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
            <path d="M13 18l6 -6" />
            <path d="M13 6l6 6" />
          </svg>
          <div
            class="rounded-l-sm border-l-4 border-gray-50/10 px-6 py-4 transition-colors duration-300 ease-in-out hover:border-primary hover:bg-primary/5"
          >
            <h4 class="text-xl font-semibold transition-colors ease-in-out">
              Suspicio? Bene ... tunc ibimus?
            </h4>
            <p>
              Four pounds... foooour pounds as if two pounds wasn't bad enough.
              we're talking two three hundred boxes of sinus pills
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="mt-20 flex flex-1 overflow-hidden max-lg:hidden">
      <img
        class="h-4/5 translate-x-40 rounded-2xl"
        src="https://img.freepik.com/free-vector/smart-home-management-application_23-2148626962.jpg?t=st=1720374267~exp=1720377867~hmac=f416e60c1e5861633909fe9cd24dd5c3f08a3245373bb7e8475100f876f1d7d0&w=1380"
        alt=""
      />
    </div>
  </div>
</section>
