<div class="bg-card-background p-6">
  <img
    height="500"
    width="500"
    src="/product.png"
    alt=""
    class="h-80 w-full drop-shadow-lg"
  />
  <div class="py-4">
    <div class="space-y-1">
      <a href="#" class="text-xl font-bold underline">
        Nike Air Max Men&apos;s Shoes
      </a>
      <p class="text-2xl font-bold text-primary">$89.99</p>
      <div class="flex items-center justify-between text-sm">
        <div class="flex items-center space-x-2">
          <span class="block opacity-50">
            <s>$100</s>
          </span>
          <span class="block bg-danger/20 px-2 py-0.5 text-danger">
            10.01% off
          </span>
        </div>
        <div>
          <p class="text-success">25 in stock</p>
        </div>
      </div>
    </div>
    <div class="mt-4 flex items-center justify-between">
      <button
        class="w-full bg-primary py-2 font-medium uppercase text-primary-foreground"
      >
        Add to cart
      </button>
    </div>
  </div>
</div>
