<div
  class="flex w-full max-w-xl space-x-10 bg-card-background p-6 md:items-center"
>
  <div class="md:flex-1">
    <img
      height="500"
      width="500"
      src="/product.png"
      alt=""
      class="h-28 w-full drop-shadow md:h-60"
    />
  </div>
  <div class="flex-1 py-4">
    <div>
      <a href="#" class="text-xl font-bold underline"> Nike Air Max </a>
      <p class="mt-2 text-pretty opacity-60">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
        assumenda dolorem commodi quia voluptas.
      </p>
      <div class="mt-4 flex items-center gap-2">
        <div class="h-5 w-5 rounded-full bg-lime-400"></div>
        <div class="h-5 w-5 rounded-full bg-white"></div>
        <div class="h-5 w-5 rounded-full bg-black"></div>
        <div class="items-centerd flex place-content-center">
          <a href="#" class="hover:underline"> 3+ </a>
        </div>
      </div>
    </div>
    <div
      class="mt-6 flex max-md:flex-col max-md:items-start md:justify-between"
    >
      <p class="font-bold">USD 90.00</p>
      <button class="underline max-md:mt-6">Add to cart</button>
    </div>
  </div>
</div>
