<a
  href="#"
  class="relative rounded-xl bg-card-background p-4 transition ease-in hover:scale-[1.01]"
>
  <img
    height="500"
    width="500"
    src="/product.png"
    alt=""
    class="h-80 w-full drop-shadow-lg"
  />
  <div class="flex items-center justify-between py-2">
    <div class="space-y-1">
      <p class="text-xl font-bold">Air Max</p>
      <span class="block">Nike</span>
    </div>
    <div class="rounded-full border border-foreground px-4 py-1">
      <p>$99</p>
    </div>
  </div>
</a>
