@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.monokai {
  background-color: transparent;
}