<section class="flex min-h-screen place-content-center items-center p-10">
  <div class="grid w-fit gap-4 lg:grid-cols-3 lg:gap-10">
    <div
      class="flex w-full max-w-sm flex-col space-y-8 justify-self-end border-t-4 border-primary bg-card-background px-6 py-10 max-lg:max-w-sm"
    >
      <div class="space-y-4">
        <span class="block font-bold">Basic</span>
        <p>
          <span class="text-5xl font-black">Free</span>
        </p>
        <small class="block font-medium">Free forever</small>
      </div>
      <ul class="grid gap-1.5 leading-relaxed">
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
      </ul>
      <div class="flex h-full items-end">
        <a
          href="#"
          class="w-fit bg-primary px-6 py-3 font-medium text-primary-foreground transition-all ease-in-out hover:brightness-[0.8] active:scale-95"
        >
          Get Started Free
        </a>
      </div>
    </div>
    <div
      class="flex w-full max-w-sm flex-col space-y-8 justify-self-center border-t-4 border-amber-400 bg-card-background px-6 py-10 max-lg:max-w-sm lg:scale-110"
    >
      <div class="space-y-4">
        <span class="block font-bold">Professional</span>
        <p>
          <span class="text-5xl font-black">$15</span>
          <small class="font-black">/month</small>
        </p>
        <small class="block font-medium"> Ideal for individual creators </small>
      </div>
      <ul class="grid gap-1.5 leading-relaxed">
        <li class="flex gap-0.5 font-bold">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-amber-400"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>Free Features</span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-amber-400"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-amber-400"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-amber-400"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-amber-400"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
      </ul>
      <div class="flex h-full items-end">
        <a
          href="#"
          class="w-fit bg-amber-400 px-6 py-3 font-medium text-gray-950 transition-all ease-in-out hover:brightness-[0.8] active:scale-95"
        >
          Get Professional
        </a>
      </div>
    </div>
    <div
      class="flex w-full max-w-sm flex-col space-y-8 justify-self-start border-t-4 border-primary bg-card-background px-6 py-10 max-lg:max-w-sm"
    >
      <div class="space-y-4">
        <span class="block font-bold">Team</span>
        <p>
          <span class="text-5xl font-black">$25</span>
          <small class="font-black">/month</small>
        </p>
        <small class="block font-medium">
          Small teams with up to 10 useres.
        </small>
      </div>

      <ul class="grid gap-1.5 leading-relaxed">
        <li class="flex gap-0.5 font-bold">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>Professional Features</span>
        </li>

        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
      </ul>

      <a
        class="w-fit bg-primary px-6 py-3 font-medium text-primary-foreground transition-all ease-in-out hover:brightness-[0.8] active:scale-95"
      >
        Get Team Plan
      </a>
    </div>
  </div>
</section>
