<section class="flex min-h-screen place-content-center items-center p-10">
  <div class="grid w-fit gap-4 md:grid-cols-2 lg:gap-10">
    <div
      class="flex w-full max-w-sm flex-col space-y-8 justify-self-end rounded-2xl bg-card-background px-6 py-10 max-lg:max-w-sm"
    >
      <div class="space-y-4">
        <div
          class="w-fit rounded-full bg-gradient-to-r from-primary/10 to-secondary/10 px-4"
        >
          <span
            class="block bg-gradient-to-r from-primary to-secondary bg-clip-text font-bold text-transparent"
          >
            Free Account
          </span>
        </div>
        <p>
          <span class="text-5xl font-black">$0</span>
          <small class="font-black">/month</small>
        </p>
        <small class="block font-medium">Free forever</small>
      </div>
      <ul class="grid gap-1.5 leading-relaxed">
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-0.5">
          <span>
            <svg
              class="mt-0.5 h-5 w-5 shrink-0 text-primary"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </span>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
      </ul>
      <div class="flex h-full items-end">
        <a
          href="#"
          class="w-fit rounded-2xl bg-primary px-6 py-3 font-medium text-primary-foreground transition-all ease-in-out hover:brightness-[0.8] active:scale-95"
        >
          Get Started Free
        </a>
      </div>
    </div>
    <div
      class="flex w-full max-w-sm flex-col space-y-8 justify-self-start rounded-2xl bg-card-background px-6 py-10 max-lg:max-w-sm"
    >
      <div class="space-y-4">
        <div
          class="w-fit rounded-full bg-gradient-to-r from-primary to-secondary px-4"
        >
          <span class="block font-bold">Premium</span>
        </div>
        <p>
          <span class="text-5xl font-black">$25</span>
          <small class="font-black">/month</small>
        </p>
        <small class="block font-medium">
          Small teams with up to 10 useres.
        </small>
      </div>

      <ul class="grid gap-1.5 leading-relaxed">
        <li class="flex gap-2">
          <div
            class="block h-fit rounded-full bg-gradient-to-r from-primary to-secondary p-1"
          >
            <svg
              class="mt-0.5 h-4 w-4 shrink-0"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </div>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-2">
          <div
            class="block h-fit rounded-full bg-gradient-to-r from-primary to-secondary p-1"
          >
            <svg
              class="mt-0.5 h-4 w-4 shrink-0"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </div>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-2">
          <div
            class="block h-fit rounded-full bg-gradient-to-r from-primary to-secondary p-1"
          >
            <svg
              class="mt-0.5 h-4 w-4 shrink-0"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </div>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
        <li class="flex gap-2">
          <div
            class="block h-fit rounded-full bg-gradient-to-r from-primary to-secondary p-1"
          >
            <svg
              class="mt-0.5 h-4 w-4 shrink-0"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M0 0h24v24H0z" stroke="none"></path>
              <path d="m5 12 5 5L20 7"></path>
            </svg>
          </div>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </span>
        </li>
      </ul>

      <a
        href="#"
        class="w-fit rounded-2xl bg-gradient-to-r from-primary to-secondary px-6 py-3 font-medium transition-all ease-in-out hover:brightness-[0.8] active:scale-95"
      >
        Get Team Plan
      </a>
    </div>
  </div>
</section>
