<section class="flex h-screen place-content-center items-center">
  <button
    disabled
    class="flex cursor-wait touch-manipulation items-center space-x-2 rounded-md bg-primary px-4 py-2 font-medium text-primary-foreground ring-offset-background disabled:opacity-50"
  >
    <span class="animate-spin">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 3a9 9 0 1 0 9 9" /></svg
    ></span>
    <span>Please wait...</span>
  </button>
</section>
