<section class="flex h-screen place-content-center items-center">
  <button
    class="group relative rounded-md font-medium text-primary-foreground shadow-md transition-all ease-in-out after:absolute after:-inset-[1px] after:-z-10 after:rounded-md after:bg-gradient-to-t after:from-primary after:to-secondary after:content-[''] hover:-rotate-2 hover:scale-105 hover:brightness-110 active:scale-[0.98]"
  >
    <span
      class="block h-full w-full rounded-md bg-background px-4 py-2 transition ease-in-out group-hover:bg-transparent"
      >Button</span
    >
  </button>
</section>
