<div class="w-full max-w-7xl p-10">
  <div class="grid w-full lg:grid-cols-12">
    <div class="lg:col-span-6">
      <div class="flex flex-col max-lg:items-center max-lg:text-center">
        <h1 class="text-4xl font-bold">
          Our service have a proven track record of boosting businesses
        </h1>
        <p class="mt-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
          minus facilis id praesentium pariatur iusto a soluta ea aperiam natus
          necessitatibus et labore omnis reiciendis quaerat tenetur, architecto
          eos odio?
        </p>
        <a
          href="#"
          class="mt-10 rounded-full bg-primary px-8 py-2 font-medium text-primary-foreground lg:w-fit"
        >
          Get Started
        </a>
      </div>
    </div>
    <div
      class="grid grid-cols-2 gap-2 max-lg:mt-10 lg:col-span-4 lg:col-start-8"
    >
      <div
        class="flex flex-col place-content-center items-center rounded-xl bg-card-background p-2 py-16"
      >
        <p class="text-4xl font-bold">260<span class="text-primary">+</span></p>
        <span class="mt-4 block">Closed Deals</span>
      </div>
      <div
        class="flex flex-col place-content-center items-center rounded-xl bg-card-background p-2 py-16"
      >
        <p class="text-4xl font-bold">543<span class="text-primary">+</span></p>
        <span class="mt-4 block">Active Clients</span>
      </div>
      <div
        class="flex flex-col place-content-center items-center rounded-xl bg-card-background p-2 py-16"
      >
        <p class="text-4xl font-bold">700<span class="text-primary">+</span></p>
        <span class="mt-4 block">Projects</span>
      </div>
      <div
        class="flex flex-col place-content-center items-center rounded-xl bg-card-background p-2 py-16"
      >
        <p class="text-4xl font-bold">52<span class="text-primary">+</span></p>
        <span class="mt-4 block">Current Jobs</span>
      </div>
    </div>
  </div>
</div>
