<div class="flex flex-col items-center">
  <h1 class="text-center text-3xl font-bold md:text-5xl">
    We Make your Bussiness Bright
  </h1>
  <div class="mt-4 h-0.5 w-[20%] rounded-full bg-primary"></div>
  <p class="mt-10 max-w-7xl text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero autem
    blanditiis unde voluptas magnam at quos officia dolore, accusantium, sit
    fugiat minus maxime ipsum tempore eveniet tenetur quaerat eaque dolores?
  </p>
  <div class="flex p-10 max-lg:flex-col max-lg:space-y-4 lg:mt-20 lg:space-x-4">
    <div class="grid h-fit grid-cols-2 gap-2">
      <div class="border-l-4 border-primary bg-accent/10 px-4 py-10 md:px-8">
        <p class="text-3xl font-bold md:text-5xl">1500+</p>
        <span class="mt-4 block text-sm">Projects done</span>
      </div>
      <div class="border-l-4 border-primary bg-accent/10 px-4 py-10 md:px-8">
        <p class="text-3xl font-bold md:text-5xl">2000+</p>
        <span class="mt-4 block text-sm">Happy Customers</span>
      </div>
      <div class="border-l-4 border-primary bg-accent/10 px-4 py-10 md:px-8">
        <p class="text-3xl font-bold md:text-5xl">1.5M</p>
        <span class="mt-4 block text-sm">Transactions</span>
      </div>
      <div class="border-l-4 border-primary bg-accent/10 px-4 py-10 md:px-8">
        <p class="text-3xl font-bold md:text-5xl">7000+</p>
        <span class="mt-4 block text-sm">4+ stars Reviews</span>
      </div>
    </div>
    <div class="max-md:hidden">
      <img
        src="https://images.unsplash.com/photo-1526948531399-320e7e40f0ca?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aGFwcHklMjBjdXN0b21lcnxlbnwwfHwwfHx8MA%3D%3D"
        alt=""
      />
    </div>
  </div>
</div>
