<div class="w-full max-w-5xl">
  <div class="grid w-full max-md:justify-center max-md:gap-10 md:grid-cols-3">
    <div class="text-center">
      <span
        class="block bg-gradient-to-r from-primary to-secondary bg-clip-text text-5xl font-bold text-transparent"
      >
        25,000
      </span>
      <span class="block text-sm">Projects-done</span>
    </div>
    <div class="text-center">
      <span
        class="block bg-gradient-to-r from-primary to-secondary bg-clip-text text-5xl font-bold text-transparent"
      >
        1M+
      </span>
      <span class="block text-sm">Happy Customers</span>
    </div>
    <div class="text-center">
      <span
        class="block bg-gradient-to-r from-primary to-secondary bg-clip-text text-5xl font-bold text-transparent"
      >
        7000
      </span>
      <span class="block text-sm">4+ stars reviews</span>
    </div>
  </div>

  <div class="mt-20 flex flex-col items-center text-center">
    <h2
      class="bg-gradient-to-r from-primary to-secondary bg-clip-text text-5xl font-bold text-transparent"
    >
      Want to star a project with us?
    </h2>
    <p class="mt-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
      necessitatibus odit maiores, laborum est nam eius numquam tempora fugit
      officia animi id esse, neque ea? Provident quidem reiciendis earum
      placeat?
    </p>
    <button class="mt-10 bg-gradient-to-r from-primary to-secondary px-8 py-3">
      Get Started
    </button>
  </div>
</div>
