<div
  class="grid w-full max-w-7xl bg-primary p-10 text-primary-foreground max-md:gap-6 md:grid-cols-4"
>
  <div class="flex place-content-center">
    <p class="text-xl font-bold">
      We speak with <br />
      our powerfull <br />
      statistics
    </p>
  </div>
  <div class="flex flex-col items-center space-y-2">
    <p class="text-5xl font-bold">1M+</p>
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
        <path
          d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z"
        />
      </svg>
      <span>Active Users</span>
    </div>
  </div>
  <div class="flex flex-col items-center space-y-2">
    <p class="text-5xl font-bold">30K+</p>
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z"
        />
      </svg>
      <span>5 Stars Reviews</span>
    </div>
  </div>

  <div class="flex flex-col items-center space-y-2">
    <p class="text-5xl font-bold">$100M</p>
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M20.8 13a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"
        />
        <path d="M18 11v10" />
        <path d="M5 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M17 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M7 5h8" />
        <path d="M7 5v8a3 3 0 0 0 3 3h1" />
      </svg>
      <span>Transactions</span>
    </div>
  </div>
</div>
