<div
  class="flex w-full max-w-5xl flex-col items-center space-y-10 bg-primary p-10 text-primary-foreground max-md:text-center"
>
  <div>
    <p class="text-center text-5xl font-bold">Journey of success</p>
  </div>
  <div class="grid w-full place-items-center gap-16 md:grid-cols-3 md:gap-10">
    <div class="max-w-[200px] space-y-2">
      <p class="text-5xl font-bold">80%</p>
      <div class="h-1 w-full rounded-full bg-primary-foreground/20">
        <div class="h-full w-[80%] rounded-full bg-primary-foreground"></div>
      </div>
      <p>Lorem Ipsum more efficiently</p>
    </div>
    <div class="max-w-[200px] space-y-2">
      <p class="text-5xl font-bold">60%</p>
      <div class="h-1 w-full rounded-full bg-primary-foreground/20">
        <div class="h-full w-[60%] rounded-full bg-primary-foreground"></div>
      </div>
      <p>Lorem Ipsum more efficiently</p>
    </div>
    <div class="max-w-[200px] space-y-2">
      <p class="text-5xl font-bold">98%</p>
      <div class="h-1 w-full rounded-full bg-primary-foreground/20">
        <div class="h-full w-[98%] rounded-full bg-primary-foreground"></div>
      </div>
      <p>Lorem Ipsum more efficiently</p>
    </div>
  </div>
</div>
