<div class="flex flex-col items-center text-center">
  <h2 class="max-w-5xl text-4xl font-bold">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </h2>
  <p class="mt-4 max-w-4xl">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia totam,
    laudantium cupiditate dolore nulla sit rerum sapiente nihil ab expedita unde
    placeat accusamus dolorum id, mollitia neque, qui ipsam iure.
  </p>
  <div
    class="mt-10 grid w-full max-w-7xl max-md:justify-center max-md:gap-10 md:grid-cols-4"
  >
    <div class="flex gap-2">
      <div class="text-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
        </svg>
      </div>
      <div>
        <p class="text-4xl font-bold">140+</p>
        <p class="text-sm">Lorem ipsum</p>
      </div>
    </div>
    <div class="flex gap-2">
      <div class="text-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
        </svg>
      </div>
      <div>
        <p class="text-4xl font-bold">140+</p>
        <p class="text-sm">Lorem ipsum</p>
      </div>
    </div>
    <div class="flex gap-2">
      <div class="text-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
        </svg>
      </div>
      <div>
        <p class="text-4xl font-bold">140+</p>
        <p class="text-sm">Lorem ipsum</p>
      </div>
    </div>
    <div class="flex gap-2">
      <div class="text-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" />
        </svg>
      </div>
      <div>
        <p class="text-4xl font-bold">140+</p>
        <p class="text-sm">Lorem ipsum</p>
      </div>
    </div>
  </div>
</div>
