<main class="min-h-screen w-full bg-background py-20 text-foreground">
  <div
    class="flex w-full flex-col place-content-center items-center space-y-16 px-10 text-center md:space-y-24 md:py-20"
  >
    <div class="flex flex-col items-center space-y-4">
      <span class="rounded-full bg-primary/10 px-4 py-2 text-xs text-primary"
        >Handcrafted with cofee ☕</span
      >
      <h1 class="max-w-xl text-3xl font-bold text-primary sm:text-5xl">
        Fueling Creativity Through Technology
      </h1>

      <p class="max-w-2xl text-sm">
        Harness the power of technology to unlock your full potential. Our
        cutting-edge solutions and expert guidance will help you innovate,
        create, and succeed in a rapidly evolving digital landscape.
      </p>
    </div>
    <div
      class="max-w-screen h-[300px] w-full rounded-lg bg-[url('https://images.unsplash.com/photo-1624377632657-3902bfd35958?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center md:h-[600px]"
    />
  </div>
</main>
