<main class="text-foreground min-h-screen bg-[#060606]">
  <div
    class="flex h-screen flex-col place-content-center items-center space-y-8 px-10 text-center"
  >
    <h1
      class="max-w-xl bg-gradient-to-r from-teal-400 to-indigo-400 bg-clip-text text-3xl font-bold text-transparent sm:text-5xl"
    >
      Empowering Your Digital Journey with Innovation
    </h1>

    <p class="max-w-2xl text-sm">
      Step into the future with our state-of-the-art solutions. From seamless
      integration to unparalleled support, we provide the tools and expertise to
      help your business thrive in the digital age.
    </p>
    <button
      class="flex items-center space-x-1 rounded-full border border-teal-400 px-6 py-2 transition-colors ease-in-out hover:bg-teal-400 hover:text-zinc-950"
    >
      <span>Get Started</span
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg>
    </button>
  </div>
</main>
