<main class="w-full text-foreground">
  <div
    class="relative flex min-h-screen flex-col place-content-center items-center space-y-10 bg-[url('https://images.unsplash.com/photo-1719153863464-b2ee7e28b6df?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-cover bg-center px-10 text-center"
  >
    <div class="absolute inset-0 z-10 bg-[#111111]/80"></div>
    <div class="relative z-20 grid justify-items-center gap-4">
      <h1 class="max-w-xl text-4xl font-bold text-primary sm:text-5xl">
        Caring for Our Forests
      </h1>

      <p class="max-w-2xl text-sm">
        Harness
        <span class="text-primary"><b>cutting-edge</b></span> technology to
        protect and preserve our forests. Our solutions promote sustainable
        forest management, ensuring a
        <span class="text-primary"><b>healthier</b></span>
        planet for future generations.
      </p>
    </div>
    <div
      class="relative z-20 flex items-center max-md:flex-col max-md:space-y-2 md:space-x-2"
    >
      <button
        class="items-center rounded-full border-2 border-primary bg-primary px-6 py-2 text-primary-foreground transition-opacity ease-in-out hover:opacity-80 max-md:w-full"
      >
        Start Today
      </button>
      <button
        class="items-center rounded-full border-2 border-primary px-6 py-2 text-primary transition-colors ease-in-out hover:bg-primary hover:text-primary-foreground max-md:flex-1"
      >
        Become a sponsor
      </button>
    </div>
  </div>
</main>
