<main class="text-foreground bg-background">
  <div class="grid min-h-screen max-md:gap-16 px-10 md:grid-cols-12 content-center">
    <div class="md:col-span-8 grid content-center">
      <div
        class="relative flex flex-col gap-4 md:px-20"
      >
      <h1 class="max-w-xl text-4xl font-bold text-primary sm:text-5xl">
        Adopt a Loving Friend Today
      </h1>

      <p class="max-w-2xl text-sm">
        Join us in giving dogs a loving home. Our platform connects you with
        <span class="text-primary"><b>caring</b></span> shelters and
        <span class="text-primary"><b>rescued</b></span> dogs, making the
        adoption process easy and fulfilling.
      </p>
      <div class="flex items-center space-x-2 pt-6 font-medium">
        <button class="rounded-md bg-primary p-2 px-10 text-primary-foreground">
          Adopt now!
        </button>
        <button
          class="rounded-md border border-primary p-2 px-10 text-primary"
        >
          Donate
        </button>
      </div>
    </div>
    
  </div>
  <div class="md:col-span-3 content-center max-md:justify-center relative grid max-md:row-start-1">

      <div class="relative md:w-80 md:h-80 w-40 h-40">
        <img src="https://res.cloudinary.com/dprty78z0/image/upload/v1720157589/gvwbomqot6tbjx8xipcj.png" class="absolute inset-0 z-20" alt="">
        <div  class="rounded-full w-full h-full bg-gradient-to-tr from-primary to-secondary absolute blur-md md:blur-3xl"/>
      </div>

</div>
</main>
