<section
  class="flex min-h-screen place-content-center items-center bg-background px-4 py-16 max-md:flex-col max-md:space-y-2 md:space-x-2"
>
  <div
    role="alertdialog"
    class="flex w-full max-w-[300px] flex-col place-content-center items-center space-y-4 rounded-xl bg-card-background px-6 py-10 shadow-lg"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-20 w-20 text-success"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M5 12l5 5l10 -10" />
    </svg>
    <div class="space-y-2 text-center">
      <h6 class="text-xl font-black">all done!</h6>
      <p class="text-sm text-foreground/50">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <button
      class="rounded-full bg-success px-6 py-2 text-lg font-medium transition-all ease-in-out hover:brightness-125 active:translate-y-0.5"
    >
      continue
    </button>
  </div>
  <div
    role="alertdialog"
    class="flex w-full max-w-[300px] flex-col place-content-center items-center space-y-4 rounded-xl bg-card-background px-6 py-10 shadow-lg"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-20 w-20 text-danger"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M18 6l-12 12" />
      <path d="M6 6l12 12" />
    </svg>
    <div class="space-y-2 text-center">
      <h6 class="text-xl font-black">oops!</h6>
      <p class="text-sm text-foreground/50">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
    <button
      class="rounded-full bg-danger px-6 py-2 text-lg font-medium transition-all ease-in-out hover:brightness-125 active:translate-y-0.5"
    >
      try again
    </button>
  </div>
</section>
