<section
  class="flex min-h-screen place-content-center items-center bg-background px-4 py-16 max-md:flex-col max-md:space-y-2 md:space-x-2"
>
  <div
    role="alertdialog"
    class="flex w-full max-w-[300px] flex-col justify-between overflow-hidden rounded-xl bg-card-background shadow-lg"
  >
    <div
      class="flex flex-col place-content-center items-center space-y-4 px-6 py-10"
    >
      <span class="rounded-full border border-success p-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-16 w-16 text-success"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l5 5l10 -10" /></svg
      ></span>
      <div class="space-y-2 text-center">
        <h6 class="text-xl font-black">Done!</h6>
        <p class="text-sm text-foreground/50">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div>
      <button
        class="w-full bg-success px-6 py-3 text-lg transition-all ease-in-out hover:brightness-125 active:translate-y-0.5"
      >
        Ok
      </button>
    </div>
  </div>
  <div
    role="alertdialog"
    class="flex w-full max-w-[300px] flex-col justify-between overflow-hidden rounded-xl bg-card-background shadow-lg"
  >
    <div
      class="flex flex-col place-content-center items-center space-y-4 px-6 py-10"
    >
      <span class="rounded-full border border-danger p-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-16 w-16 text-danger"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M18 6l-12 12" />
          <path d="M6 6l12 12" /></svg
      ></span>
      <div class="space-y-2 text-center">
        <h6 class="text-xl font-black">Damn!</h6>
        <p class="text-sm text-foreground/50">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div>
      <button
        class="w-full bg-danger px-6 py-3 text-lg transition-all ease-in-out hover:brightness-125 active:translate-y-0.5"
      >
        Retry
      </button>
    </div>
  </div>
</section>
