<section
  class="flex h-screen place-content-center items-center bg-background px-4"
>
  <div class="flex w-fit place-content-center max-md:w-[98%]">
    <div
      class="inline-flex items-center overflow-x-auto rounded-full bg-accent/5 p-1 text-xs font-medium [scrollbar-width:none] md:overflow-hidden md:text-sm [&::-webkit-scrollbar]:hidden"
    >
      <button
        role="tab"
        class="inline-flex items-center space-x-1 rounded-full bg-primary px-5 py-2 text-primary-foreground transition ease-in-out md:px-10"
      >
        <span>Home</span>
      </button>
      <button
        role="tab"
        class="inline-flex items-center space-x-1 rounded-full px-5 py-2 transition ease-in-out hover:bg-accent/20 md:px-10"
      >
        <span>Videos</span>
        <span
          class="flex h-4 w-4 place-content-center items-center rounded-full bg-accent/10 text-xs"
          >2</span
        >
      </button>
      <button
        role="tab"
        class="inline-flex items-center space-x-1 rounded-full px-5 py-2 transition ease-in-out hover:bg-accent/20 md:px-10"
      >
        <span>Music</span>
        <span
          class="flex h-4 w-4 place-content-center items-center rounded-full bg-accent/10 text-xs"
          >2</span
        >
      </button>
      <button
        role="tab"
        class="inline-flex items-center space-x-1 rounded-full px-5 py-2 transition ease-in-out hover:bg-accent/20 md:px-10"
      >
        <span>Profile</span>
      </button>
      <button
        role="tab"
        class="inline-flex items-center space-x-1 rounded-full px-5 py-2 transition ease-in-out hover:bg-accent/20 md:px-10"
      >
        <span>Settings</span>
      </button>
    </div>
  </div>
</section>
