<section
  class="flex h-screen place-content-center items-center bg-background px-4"
>
  <div class="flex w-fit place-content-center max-md:w-[98%]">
    <div
      class="inline-flex items-center divide-x divide-accent/10 overflow-x-auto rounded-md bg-accent/5 text-xs font-medium [scrollbar-width:none] md:overflow-hidden md:text-sm [&::-webkit-scrollbar]:hidden"
    >
      <button
        role="tab"
        class="border-b-4 border-primary px-5 py-2 transition ease-in-out md:px-10"
      >
        Home
      </button>
      <button
        role="tab"
        class="border-b-4 border-accent/10 px-5 py-2 transition ease-in-out hover:bg-accent/20 md:px-10"
      >
        Videos
      </button>
      <button
        role="tab"
        class="border-b-4 border-accent/10 px-5 py-2 transition ease-in-out hover:bg-accent/20 md:px-10"
      >
        Music
      </button>
      <button
        role="tab"
        class="border-b-4 border-accent/10 px-5 py-2 transition ease-in-out hover:bg-accent/20 md:px-10"
      >
        Profile
      </button>
      <button
        role="tab"
        class="border-b-4 border-accent/10 px-5 py-2 transition ease-in-out hover:bg-accent/20 md:px-10"
      >
        Settings
      </button>
    </div>
  </div>
</section>
